/coverage
/make_stamps
/node_modules
/tmp
bits
build
docs/examples.md
docs/rules.md
docs/*.json
docs/*.html
docs/examples.md
docs/rules.md
docs/media/img/*.svg
cscope.in.out
cscope.po.out
cscope.out
fwapi-pkg-*.tar.gz
smf/manifests/fwapi.xml
