/coverage
/node_modules
/tmp
build
docs/examples.md
docs/rules.md
docs/*.json
docs/*.html
docs/examples.md
docs/rules.md
docs/media/img/*.svg
cscope.in.out
cscope.po.out
cscope.out
smf/manifests/fwapi.xml
