{
  "port": 8080,
  "pollInterval": 3000,
  "moray": {
    "host": "10.99.99.17",
    "logLevel": "info",
    "port": 2020
  },
  "fast": {
    "port": 2020
  },
  "ufds": {
    "url": "ldaps://10.99.99.18",
    "bindDN": "cn=root",
    "bindPassword": "secret",
    "cache": {
      "size": 1000,
      "expiry": 300
    },
    "tlsOptions": {
      "rejectUnauthorized": false
    }
  },
  "dataenter": "coal",
  "logLevel": "debug",
  "vmapi": {
    "url": "http://10.99.99.27",
    "connectTimeout": 1000,
    "retry": {
      "retries": 2
    }
  }
}
